{% extends 'base.html' %}

{% block content %}
<select class="form-select" aria-label="Default select example">
    <option selected>0</option>
    <option valuehr="1">1</option>
    <option valuehr="2">2</option>
    <option valuehr="3">3</option>
</select>

<select class="form-select" aria-label="Default select example">
    <option selected>0</option>
    <option valuetn="1">1</option>
    <option valuetn="2">2</option>
    <option valuetn="3">3</option>
</select>

<button type="submit" class="btn btn-primary">Confirm</button>
{% endblock %}