{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Thank you for using ! {% endblock %}</h1>
<br>
<form method="post">
    <select class="form-select" aria-label="Default select example" name="tsd">
        <option selected value="0" >0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <select class="form-select" aria-label="Default select example" name="hrd">
        <option selected value="0" >0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
{% endblock %}
