{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Instruction {% endblock %}</h1>
<hr>
<ol class="list-group list-group-flush">
    <li class="list-group-item">Hold container under water tap.</li>
    <li class="list-group-item">Type amount of water you want (in mL) in the box below.</li>
    <li class="list-group-item">Click "Dispense" button to receive water.</li>
    <li class="list-group-item">Wait until the water stop flowing before removing the container.</li>
    <li class="list-group-item">Water flow can be stopped by manually turning the tap.</li>
</ol>
<div class="row align-items-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <br>
        <form method="post">
            <div class="mb-3">
                <label for="amount">Amount</label>
                <input type="text" name="amount" placeholder="E.g: &quot;100&quot;" class="form-control"
                       value="{{ request.form['amount']}}">
            </div>

            <button type="submit" class="btn btn-primary">Dispense</button>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}